:root {
    color-scheme: dark only;
}

;

#app {
    position: relative;
    min-height: 100vh;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.button {
    z-index: 999;
    position: absolute;
}